@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <a asp-area="" asp-controller="Food" asp-action="FoodDetail">
        <div class="col-3">
            <img src="cheese.jpg">
            <h4>Casu marzu</h4>
            <div class="row">
                <div class="col-6"><label>9.5 $</label></div>
                <div class="col-6"><input type="button" class="btn btn-success " style="display: flex; justify-content: center;" value="Add to Cart"></div>
            </div>
        </div>
    </a>
    <a asp-area="" asp-controller="Food" asp-action="FoodDetail">
        <div class="col-3">
            <img src="D:\projecting_programming_systems\FoodTime\FoodTime\wwwroot\images\scorpioni.jpg">
            <h4>Fried scorpions</h4>
            <div class="row">
                <div class="col-6"><label>3 $</label></div>
                <div class="col-6"><input type="button" class="btn btn-success " style="display: flex; justify-content: center;" value="Add to Cart"></div>
            </div>
        </div>
        </a>
        <a asp-area="" asp-controller="Food" asp-action="FoodDetail">
            <div class="col-3">
                <img src="galushky.jpg">
                <h4>Galushky</h4>
                <div class="row">
                    <div class="col-6"><label>100 $</label></div>
                    <div class="col-6"><input type="button" class="btn btn-success " style="display: flex; justify-content: center;" value="Add to Cart"></div>
                </div>
            </div>
        </a>
</div>


