@{
    ViewData["Title"] = "Home";
}
@using FoodTime.Data.Models
@model IEnumerable<FoodTime.Data.Models.Food>

<div class="row">
    
         <div class="col-3">
             <img src="~/images/cheese.jpg">
             <a href="Home/FoodDetail/">
                 <h4>Name</h4>
             </a>
             <div class="row">
                 <div class="col-6"><label>312</label></div>
                 <div class="col-6"><input type="button" class="btn btn-success " style="display: flex; justify-content: center;" value="Add to Cart"></div>
             </div>
         </div>
         

</div>


