
README.md
FoodTime/FoodTime/obj/project.assets.json
FoodTime/FoodTime/obj/project.assets.json
FoodTime/FoodTime/obj/project.assets.json
FoodTime/FoodTime/obj/project.assets.json
FoodTime/FoodTime/obj/FoodTime.csproj.nuget.g.targets
FoodTime/FoodTime/obj/FoodTime.csproj.nuget.g.props
FoodTime/FoodTime/obj/FoodTime.csproj.nuget.cache
FoodTime/FoodTime/obj/Debug/netcoreapp2.1/FoodTime.csproj.CoreCompileInputs.cache
FoodTime/FoodTime/obj/Debug/netcoreapp2.1/FoodTime.assets.cache
FoodTime/.vs/FoodTime/v15/Server/sqlite3/storage.ide-wal
FoodTime/.vs/FoodTime/v15/Server/sqlite3/storage.ide-shm
FoodTime/.vs/FoodTime/v15/.suo
