@{
    ViewData["Title"] = "FoodDetail";
}



    <div class="row" id="comment">
        <div id="foodInfo" class="col-3">
            <img id="foodImg" src="~/images/zlata.jpg">
            <p><h2 style="text-align: center; color:darkgoldenrod;">Price:399$</h2></p>
            <button type="button" class="btn btn-success " style="margin-left:25%;">Add to Cart</button>
        </div>
        <div class="col-9">
            <h1>Food Name</h1>
            <hr>
            <p>Some text</p>
        </div>
    </div>

    <div class="row" id=comment>
        <form name="test" method="post" action="" class="col-12">
            <p>
                Comments:<Br>
                <textarea name="comment" cols="40" rows="3" class="  form-control"></textarea>
            </p>
            <p><input type="submit" class="btn btn-outline-primary " value="Send" style="float:right;">
        </form>
    </div>

    <div class="row border border-secondary rounded" id="comment">
        <div class="col-8">

            <a href="" style="color: #b34700; font-weight:bold;">author</a>
        </div>
        <div class="col-3" style="font-size:12px;text-align: right;">published at: <label style="font-style:italic; color:red;">1999-12-31</label></div>
        <div class="col-12">
            <p>Comment Text	</p>

        </div>

    </div>
    <div class="row border border-secondary rounded" id="comment">
        <div class="col-8">

            <a href="" style="color: #b34700; font-weight:bold;">author</a>
        </div>
        <div class="col-3" style="font-size:12px;text-align: right;">published at: <label style="font-style:italic; color:red;">1999-12-31</label></div>
        <div class="col-12">
            <p>Comment Text	</p>

        </div>

    </div>
    <div class="row border border-secondary rounded" id="comment">
        <div class="col-8">

            <a href="" style="color: #b34700; font-weight:bold;">author</a>
        </div>
        <div class="col-3" style="font-size:12px;text-align: right;">published at: <label style="font-style:italic; color:red;">1999-12-31</label></div>
        <div class="col-12">
            <p>Comment Text	</p>

        </div>

    </div>
