
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@*@using Services.BusinessClasses
    @model IEnumerable<Cart>

    @foreach (var item in Model)
    {
        <div class="row"><p>@Html.DisplayFor(modelItem => item.foods )<p></div>
    }*@

<p>@ViewBag.id<p>